body {
    margin: 0;
    padding: 0;
}  
.calculadora {  
    background-color: aqua( 9, 43, 235);
    width: 200px;
    color: rgb(93, 52, 165);
    padding: 15px;
    border-radius: 10px;
}
.calculadora input {
    background-color: darkslategray(32, 31, 31);
    color: rgb(74, 197, 166);
    border-radius: 5px;
    padding: 5px;
}
#btnCalc {
    background-color: indigo;
    margin-top: 20px;
    padding: 5px;



#btnCalc:hover {
    background-color:(171, 255, 3);
    color:indigo;
    cursor: help;
}
#psTotal {
   background-color: rgb(45, 130, 133);
   color: rgb(3, 24, 61);
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 20px;




}

